.slack-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.sidebar {
  width: 18%;
  background-color: #3f0e40;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center; /* Add this line */
  padding: 20px;
}

.home-button {
  text-decoration: none;
  color: rgb(0, 0, 0);
  background-color: rgb(255 255 255);
  padding: 10px;
  text-align: center;
  border-radius: 50px; 
  margin-bottom: 20px;
  font-weight: bold;
  outline: 1px solid black; 
  outline-offset: 1px; 
  width: 65%; 
}

.home-button:hover {
  background-color: rgb(118 202 221);
}

.channel-info {
  font-size: 1.5em;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.user-list-section {
  flex-grow: 1;
  overflow-y: auto;
}

.message-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  overflow-y: auto;
}

.message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.message-content {
  display: flex;
  flex-direction: column;
}

.message-user {
  font-weight: bold;
  margin-right: 10px;
}

.message-text {
  background-color: #e9ecef;
  padding: 10px;
  border-radius: 8px;
  margin-left: 10px;
  flex: 1;
}

.message-timestamp {
  font-size: 0.8em;
  color: gray;
  margin-top: 5px;
}

.message-form {
  display: flex;
  border-top: 1px solid #ccc;
  padding: 10px;
}

.user-list {
  list-style-type: none;
  padding: 0;
}

.user-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user-avatar {
  width: 36px;
  height: 36px;
  border-radius: 4px;
  margin-right: 10px;
}

.user-name {
  font-weight: bold;
  color: white;
}
