.user-list {
  list-style-type: none;
  padding: 0;
}

.user-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user-avatar {
  width: 36px;
  height: 36px;
  border-radius: 4px;
  margin-right: 10px;
}

.user-name-link {
  text-decoration: none;
  color: white;
}

.user-name-link:hover {
  text-decoration: underline;
}

.user-name {
  font-weight: bold;
}
