/* #container {
    display: flex;
    flex-direction: column;
    gap: 10% 
}

img {
    display: flex;
    align-items: center;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#nav1 {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.announcements{
    align-self: flex-start;
}

button {
    display: flex;
    width: auto;
} */
